/* Page title */

#main-wrapper {
    background-color: #f4f8fa;
}

.page-title {
    text-align: unset;
    padding: 40px 0 30px;
}

.page-title .title {
    color: #131b31;
    font-family: "Gilroy - Bold";
    font-size: 37px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.59px;
    line-height: 40px;
    text-align: left;
    margin-top: 5px;
}

.page-title .wrap {
    display: inline-flex;
}

.page-title .dropdown {
    margin-left: 10px;
    float: right;
}

.dropdown.order_by a:hover {
    color: #131b31 !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #ff2850 !important;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.order_by_active {
    background-color: #ff285047;
}

.page-title .show_favorites {
    position: relative;
    padding: 15px 25px;
    float: right;
    margin-left: 10px;
    box-shadow: 0 3px 26px 13px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    border: 2px solid #e6ebf1;
    background-color: #ffffff;
}

.btn-custom.dropdown-toggle,
.checkbox-custom-label,
.radio-custom-label {
    color: #131b31 !important;
    font-family: "Gilroy - Medium";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: normal;
    text-align: left;
    display: flow-root;
    word-break: break-all;
}

.page_sidebar .checkbox-custom-label {
    margin: 8px 0;
}

.page-title .btn-custom.dropdown-toggle,
.page-title .checkbox-custom-label,
.page-title .radio-custom-label {
    margin: 0;
}

.page-title .btn-custom.dropdown-toggle.show-23 {
    color: #fff !important;
}

.btn.arrow-btn.filter_open span {
    margin-left: 10px;
}

.page-title .btn-custom.dropdown-toggle {
    box-shadow: 0 3px 26px 13px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    border: 2px solid #e6ebf1;
    background-color: #ffffff;
    padding: 15px 25px;
}

.page-title .dropdown-toggle::after {
    display: none;
}

.page-title .dropdown-menu {
    width: 100%;
    top: 14px !important;
    box-shadow: 0 13px 26px 13px rgba(0, 0, 0, 0.1);
}

.page-title .dropdown-menu-arrow {
    bottom: 0;
    left: 150px;
}

.page-title .dropdown-item {
    color: #131b31 !important;
    font-family: "Gilroy - Medium";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: normal;
    text-align: left;
    margin: 0;
}


.page-title .checkbox-custom+.checkbox-custom-label:before {
    float: right;
    margin-left: 10px;
    margin-right: 0;
    margin-top: -1px;
    margin-bottom: 1px;
}

.page-title .dropdown.create_article a {
    background-color: #ff2850;
    color: #fff !important;
}

.page-title .dropdown.create_article a:hover,
.page-title .dropdown.create_article a:focus {
    border-color: #f4f8fa !important;
}

.page-title .dropdown.create_article a img {
    margin-right: 5px;
    margin-bottom: 1px;
}



/* Page sidebar */

.page_sidebar {
    background-color: #fff;
    padding: 1rem 1rem;
    border: none;
}

.page_sidebar .side_title {
    color: #131b31;
    font-family: "Gilroy - Bold";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.32px;
    line-height: 40px;
    text-align: left;
    margin: 0;
}

.page_sidebar .no-ul-list li {
    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: 20px;
    text-align: left;
}

.checkbox-custom:checked+.checkbox-custom-label:before {
    background: #ff2850 url("/assets/backoffice_assets/icons/Check.svg") no-repeat 50% 50% !important;
    background-size: 60% !important;
    box-shadow: unset !important;
    border: none !important;
}

.checkbox-custom:checked:disabled+.checkbox-custom-label:before {
    background: #ff285080 url("/assets/backoffice_assets/icons/Check.svg") no-repeat 60% 50% !important;
}

.page_sidebar .filter_tags {
    clear: both;
    overflow: hidden;
}

.page_sidebar .filter_tags a.cancel,
.page_sidebar .filter_tags label.cancel {
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    border: 1px solid rgba(255, 40, 80, 0.1);
    background-color: rgba(255, 40, 80, 0.1);
    padding: 8px 15px;
    color: #ff2850;
    font-family: "Gilroy - SemiBold";
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.22px;
    line-height: normal;
    text-align: left;
    margin-right: 5px !important;
    margin-bottom: 8px;
    cursor: pointer;
}

.page_sidebar .filter_tags a.cancel.active,
.page_sidebar .filter_tags label.cancel.active {
    border: 2px solid #ff2850;
}

a[class^="show_more_"],
a[class^="show_less_"] {
    color: #ff2850;
    font-family: "Gilroy - Medium";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: 40px;
    text-align: left;
}

a[class^="show_more_"] .triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #ff2850;
    display: inline-block;
    margin-left: 2px;
}

a[class^="show_less_"] .triangle-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #ff2850;
    display: inline-block;
    margin-left: 2px;
}

/* Mobile sidebar */

.filt-head {
    padding: 0 20px;
    float: right;
}

.filter-sidebar .show-hide-sidebar {
    padding-top: 0;
}

.sidebar-widgets.page_sidebar {
    margin: 0;
    width: 100%;
    border: none;
}

/* END SIDEBARS */

.shop_grid {
    box-shadow: 0 13px 26px 13px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 8px 8px;
    display: flex;
    border: none;
}

.shop_grid:before {
    display: none;
}

.shop_grid_thumb {
    padding: 0;
    max-height: 100%;
    margin: 0;
    display: contents;
}

.shop_grid_thumb img {
    max-width: 40%;
    width: 100%;
    max-height: unset;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.shop_grid_caption {
    margin-left: 20px;
    width: 100%;
    position: relative;
}

.shop_grid_caption .sg_rate_title {
    color: #131b31;
    font-family: "Gilroy - Bold";
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.41px;
    line-height: 40px;
    text-align: left;
    overflow-wrap: break-word;
}

.shop_grid_caption .article_author,
.shop_grid_caption .article_author strong {
    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.24px;
    line-height: 40px;
    text-align: left;
    margin-top: -5px;
}

.shop_grid_caption .article_author strong {
    font-family: "Gilroy - Bold";
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.shop_grid_caption .article_author a.professor_link {
    color: #ff2850;
    font-family: "Gilroy - Bold";
    font-size: 15px;
    font-weight: 700;
}

.shop_grid_caption .article_description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
}

.shop_grid_caption .article_description *,
.shop_grid_caption .article_description {
    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: 25px;
    text-align: left;
    word-break: break-word;
}

.shop_grid_caption .gray_tag_div,
.gray_tag_div {
    color: #ffffff;
    font-family: "Gilroy - SemiBold";
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.22px;
    line-height: normal;
    text-align: left;
    float: left;
    margin-right: 10px;
    height: 37px;
    background-size: cover;
    background-position: right;
    border-radius: 5px;
    margin-bottom: 10px;
}

.shop_grid_caption .gray_tag_div p,
.gray_tag_div p {
    padding: 8px 20px 8px 10px;
    margin: 0;
}

.arrow {
    border-style: solid;
    border-color: transparent;
    border-width: 0.2em;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 82px;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: middle;
    width: 0;
    background-color: #fff;
    border-left-width: 0.2em;
    border-left-style: solid;
    border-left-color: #838995;
    left: 10px;
}

.shop_grid_caption .article_buttons {
    float: left;
    margin-bottom: 10px;
    width: -webkit-fill-available;
}

.shop_grid_caption .article_buttons a {
    color: #ffffff;
    font-family: "Gilroy - Bold";
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.18px;
    line-height: normal;
    text-align: left;

    float: left;
    margin-right: 10px;
    margin-top: 10px;

    border-radius: 4px;
    background-color: #ff2850;

    padding: 10px 20px;
}

.shop_grid_caption .article_buttons a img {
    margin-right: 5px;
    width: 25%;
}

.shop_grid_caption .article_buttons a.edit_button:hover,
.shop_grid_caption .article_buttons a.share_button:hover {
    color: #fff !important;
}

.shop_grid_caption .article_buttons a.remove_button {
    background-color: #fff !important;
    color: #ff2850;
}

.shop_grid_caption .article_buttons a.remove_button img,
.shop_grid_caption .article_buttons a.share_button img {
    width: 20%;
}

.shop_grid_caption .article_buttons a.share_button,
.shop_grid_caption .article_buttons a.share_button:hover {
    border-radius: 4px;
    border: 2px solid #2583ed;
    background-color: #2583ed;
}

.shop_grid_caption .article_buttons a.share_button:focus {
    border: 2px solid #2583ed;
    background-color: #2583ed;
}

.shop_grid_caption .heart_icon,
.shop_grid_caption .heart_filled_icon {
    float: right;
    margin-top: 8px;
    /* margin-right: 10px; */
    cursor: pointer;
}

.shop_grid_caption .read_more {
    float: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.shop_grid_caption .read_more a {
    color: #ff2850;
    font-family: "Gilroy - Bold";
    font-size: 19px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.3px;
    line-height: 40px;
    text-align: left;
}

/* Article details */

.shop_grid.article_details_card.blog-page {
    border: none;
}

.page-title .breadcrumb {
    display: flex;
    padding: 0;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #131b31;
    content: ">";
    font-family: "Gilroy - Medium";
    font-weight: 500;
}

.breadcrumb-item a {
    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.24px;
    line-height: 40px;
    text-align: left;
}

.breadcrumb-item.active {
    color: #131b31 !important;
    font-family: "Gilroy - Bold";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    align-self: center;
}

.article_details_card {
    padding: 30px;
    display: flow-root;
}

.article_details_card .card_content {
    margin: 20px;
    max-width: 80%;
    margin: auto;
}

.article_details_card .card_content .article_title {
    font-size: 46px;
    letter-spacing: -0.73px;
    text-align: center;
    margin-top: 50px;
}

.article_details_card .card_content .article_author {
    text-align: center;
    margin: 10px;
}

.article_details_card .card_content .article_content {
    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: 25px;
    text-align: left;
    padding-top: 20px;
}

.article_details_card .card_content .gray_tag_div {
    margin-top: 10px;
}

.article_details_card .card_content .article_buttons {
    float: unset;
}

.article_details_card .card_content .article_buttons a {
    margin: 0;
    font-size: 16px;
    padding: 15px 35px;
    padding-right: 45px;
    float: right;
}

.article_details_card .card_content .article_buttons a.share_button img {
    width: 25%;
    margin-right: 10px;
}

.article_details_card .card_content hr {
    margin-top: 120px;
    margin-bottom: 30px;
}

.blog-page .article_detail_wrapss .comment-area .all-comments .comments-title {
    color: #131b31;
    font-family: "Gilroy - Bold";
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.4px;
    line-height: 40px;
    text-align: left;
    margin: 0;
}

.blog-page .article_detail_wrapss .comment-area .all-comments article .article_comments_thumb {
    width: auto;
}

.blog-page .article_detail_wrapss .comment-area .all-comments article .article_comments_thumb a img {
    max-width: 42px;
    border-radius: 50%;
}

.blog-page .article_detail_wrapss .comment-area .all-comments article .comment-details .comment-meta .comment-left-meta {
    text-align: left;
}

.blog-page .article_detail_wrapss .comment-area .all-comments article .comment-details {
    padding-left: 15px;
}

.blog-page .article_detail_wrapss .comment-area .all-comments article .comment-details .comment-meta .comment-left-meta .author-name {
    color: #131b31;
    font-family: "Gilroy - Bold";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: 40px;
    text-align: left;
}

.blog-page .article_detail_wrapss .comment-area .all-comments article .comment-details .comment-text {
    margin: 0;
}

.blog-page .article_detail_wrapss .comment-area .all-comments article .comment-details .comment-text p {
    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 10px;
}

.blog-page .article_detail_wrapss .comment-area .all-comments article .comment-details .comment-info {
    margin: 0;
    text-align: left;
}

.blog-page .article_detail_wrapss .comment-area .all-comments article .comment-details .comment-info p.time-ago,
.blog-page .article_detail_wrapss .comment-area .all-comments article .comment-details .comment-info a.reply {
    opacity: 0.5;
    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.22px;
    line-height: 25px;
    text-align: justify;
    display: inline-block;
}

.blog-page .article_detail_wrapss .comment-area .all-comments article .comment-details .comment-info a.reply {
    font-family: "Gilroy - Bold";
    font-weight: 700;
}

.blog-page .article_detail_wrapss .comment-area .all-comments article .comment-details .comment-info img {
    float: unset;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
}

.blog-page .article_detail_wrapss .comment-area .all-comments .comment-list ul li {
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.blog-page .article_detail_wrapss .comment-area .all-comments .comment-list ul li:last-child {
    border-bottom: none;
}

.blog-page .article_detail_wrapss .comment-area .all-comments article {
    margin: 0 0 10px;
}

.submit-form .form-control,
.submit-page .form-control,
.frm_submit_block .form-control,
.submit-form .form-control::placeholder,
.submit-page .form-control::placeholder,
.frm_submit_block .form-control::placeholder {
    opacity: 0.3;
    color: #131b31;
    font-family: "Gilroy - SemiBold";
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: normal;
    text-align: left;
}

.submit-form .form-control,
.submit-page .form-control,
.frm_submit_block .form-control {
    opacity: 1;
    background: #fff;
    border: 2px solid #e6ebf1;
    border-radius: 5px;
}

.search-btn.comment_submit {
    border-radius: 5px;
    background-color: #ff2850;

    color: #ffffff;
    font-family: "Gilroy - Bold";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: normal;
    text-align: center;
    float: right;

    white-space: normal;
}

.search-btn.comment_submit:hover,
.search-btn.comment_submit:focus {
    color: #fff !important;
}

/* Article Save (Add + Edit) */

.shop_grid.save_article_card {
    text-align: left;
    padding: 20px;
}

.shop_grid.save_article_card label {
    color: #131b31;
    font-family: "Gilroy - Bold";
    font-size: 23px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.37px;
    line-height: 40px;
    text-align: left;
}

.form-group input.form-control,
.form-group textarea.form-control,
.shop_grid.save_article_card input {
    border-radius: 5px;
    border: 2px solid #e6ebf1;
}

.select2.select2-container.select2-container--default.select2-container--below.select2-container--open span.select2-selection.select2-selection--single,
.select2.select2-container.select2-container--default.select2-container--below.select2-container--open span.select2-selection.select2-selection--multiple,
.select2.select2-container.select2-container--default.select2-container--above.select2-container--open span.select2-selection.select2-selection--single,
.select2.select2-container.select2-container--default.select2-container--above.select2-container--open span.select2-selection.select2-selection--multiple,
.select2.select2-container.select2-container--default.select2-container--below.select2-container--open span.select2-selection.select2-selection--focus,
.select2.select2-container.select2-container--default.select2-container--above.select2-container--open span.select2-selection.select2-selection--focus {
    border: 2px solid #ff2850 !important;
}

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
    margin-top: -3px;
    border: 2px solid #ff2850;
}

.select2-container--open .select2-dropdown--above {
    margin-top: 3px;
}

.form-group input.form-control:focus,
.form-group textarea.form-control:focus,
.shop_grid.save_article_card input:not(.select2-search__field):focus {
    border: 2px solid #ff2850 !important;
}

.select2.select2-container.select2-container--default {
    border-radius: 5px;
    border: 1px solid #e6ebf1;
}

.select2.select2-container.select2-container--default:focus {
    border-radius: 5px;
    border: 2px solid #ff2850;
}

.select2_with_search:focus {
    border: 2px solid #ff2850 !important;
}

.select2_with_search .select2.select2-container.select2-container--default,
.select2_with_search .select2-selection.select2-selection--multiple {
    /* border: none; */
    z-index: auto;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #e6ebf1 !important;
}

.select2_with_search .select2-container--default .select2-search--inline .select2-search__field {
    /* content: '+'; */
    /* padding-left: 10px; */
    color: #131b31 !important;
    /* padding: 10px 8px; */
    width: 100% !important;
    cursor: pointer;
}

.select2_with_search .select2-container--default .select2-search--inline .select2-search__field::placeholder {
    content: '+';
    opacity: 0.3 !important;
    color: #131b31 !important;
    font-family: "Gilroy - Medium";
    font-size: 16px;
    font-weight: 500 !important;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: normal;
    text-align: left;
}

.select2_with_search .select2-container--default .select2-search--inline .select2-search__field.big::placeholder {
    font-size: 20px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    float: right;
    margin-left: 5px;
    margin-top: 1px;
    margin-bottom: 8px;
    color: #fff;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
    flex-flow: wrap;
    cursor: pointer;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    align-self: center;
    margin: 10px 5px;
    background-color: #ff2850;
    border: 1px solid #ff2850;
    border-radius: 4px;
    padding-top: 10px;

    color: #ffffff;
    font-family: "Gilroy - SemiBold";
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.22px;
    line-height: normal;
    text-align: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search.select2-search--inline {
    padding-top: 0px;
    margin: 18px 5px;
    /* padding-left: 10px; */
}

.select2-search.select2-search--inline {
    background-color: transparent !important;
    border: none !important;
}

.form-group input.form-control,
.form-group input.form-control::placeholder,
.shop_grid.save_article_card input,
.shop_grid.save_article_card input::placeholder,
.select2-selection__rendered,
.select2-selection__placeholder,
.select2-container--default .select2-results>.select2-results__options {
    color: #131b31 !important;
    font-family: "Gilroy - Medium";
    font-size: 16px;
    font-weight: 500 !important;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: normal;
    text-align: left;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #131b31 transparent transparent transparent !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--focus .select2-selection__arrow b {
    border-color: transparent transparent #ff2850 transparent !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ff2850;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__rendered,
.select2-container--default.select2-container--open .select2-selection--focus .select2-selection__rendered {
    color: #ff2850 !important;
}

.select2.select2-container.select2-container--default.select2-container--disabled .select2-selection__rendered,
.select2.select2-container.select2-container--default.select2-container--disabled .select2-search__field {
    background-color: #e9ecef;
    opacity: 1;
    cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: block !important;
    visibility: hidden !important;
}

.form-group input.form-control::placeholder,
.shop_grid.save_article_card input::placeholder {
    opacity: 0.3;
}


.cke {
    border-radius: 5px;
    border: 2px solid #e6ebf1 !important;
}

.cke.cke_focus {
    border: 2px solid #ff2850 !important;
}

.cke_inner {
    border-radius: 5px !important;
}

.cke_top {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom: 2px solid #e6ebf1 !important;
}

.cke_text.cke_focus .cke_top {
    border-bottom: 2px solid #ff2850 !important;
}

.cke_bottom {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top: 2px solid #e6ebf1 !important;
}

.cke_text.cke_focus .cke_bottom {
    border-top: 2px solid #ff2850 !important;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 1px dashed #ff2850;
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    min-height: unset;
}

.dropzone.disabled {
    pointer-events: none;
    cursor: default;
    background-color: #e9ecef !important;
    opacity: 1;
}

.dz-message {
    color: #ff2850;
    font-family: "Gilroy - Medium";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.22px;
    line-height: normal;
    text-align: left;
}

.dz-message img {
    margin-bottom: 20px;
}
