/* Classroom CSSS */

.classroom .user_round_avatar,
.classroom .colleagues_round_avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    float: left;
    background-color: white;
}

.classroom .colleagues_round_avatar {
    width: 50px;
    height: 50px;
}

.classroom .edit_profile,
.classroom .colleagues_name {
    display: block;
    margin-top: -10px;

    color: #ff2850;
    font-family: "Gilroy - Bold";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.22px;
    line-height: 40px;
    text-align: left;
}

.classroom .notifications_see_all,
.classroom .colleagues_options {
    color: #ff2850;
    font-family: "Gilroy - Bold";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: normal;
    text-align: left;
}

.classroom .colleagues_name {
    font-size: 16px;
    color: #131b31;
    align-self: center;
}

.expand_accordion,
.red-skin a.expand_accordion:hover,
.red-skin a.expand_accordion:focus {
    border-radius: 5px;
    border: 2px solid #e6ebf1;
    padding: 5px 15px;

    color: #131b31 !important;
    font-family: "Gilroy - Medium";
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: 40px;
    text-align: right;
}

.expand_accordion img {
    margin-left: 5px;
}

.expand_accordion.expanded,
.red-skin a.expand_accordion.expanded:hover,
.red-skin a.expand_accordion.expanded:focus {
    border: 2px solid #ff2850;

    color: #ff2850 !important;
    font-family: "Gilroy - Bold";
    font-weight: 700;
}

.red-skin a.shortcut_links,
.red-skin a.shortcut_links:hover,
.red-skin a.shortcut_links:focus {
    display: flow-root;

    color: #ff2850;
    font-family: "Gilroy - Bold";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: normal;
    text-align: left;
}

.shortcut_links img {
    width: 6%;
    margin-top: 3px;
    float: right;
}

/* Dropdown menus */

.dropdown.student_options_dropdown,
.dropdown.student_dropdown {
    margin-left: 0;
}

.dropdown.student_options_dropdown .message-box,
.dropdown.student_dropdown .message-box {
    background-color: #fff;
    padding-bottom: 0px;
    border-radius: 6px;
    border: 2px solid #e2e2e2 !important;
    position: absolute !important;
    margin-top: 0 !important;
    /* top: -10px !important; */
    z-index: 1001;
    margin-left: -140%;
    width: max-content;
    box-shadow: 0 13px 26px 13px rgba(0, 0, 0, 0.15);
}

.dropdown.student_dropdown .message-box {
    top: 19px !important;
    margin-left: -290%;
}

.dropdown.student_options_dropdown .message-box .msg-title,
.dropdown.student_dropdown .message-box .msg-title {
    display: block;
    border-bottom: none;
    padding: 2px 15px 10px 15px;
}

.dropdown.student_options_dropdown .dropdown-menu-arrow,
.dropdown.student_dropdown .dropdown-menu-arrow {
    left: 35px;
}

.dropdown.student_dropdown .dropdown-menu-arrow {
    bottom: -4px;
    left: 20px;
}

#edit_profile_tabs_content .checkbox-custom+.checkbox-custom-label:before {
    float: none;
    margin-left: 0;
    margin-right: 10px;
}

/* CHAT */

/* body,
html {
    height: 100%;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
} */

.chat {
    /* margin-top: auto;
    margin-bottom: auto; */
}

.card {
    max-height: 80vh;
    border-radius: 15px !important;
    background-color: transparent !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
    border-radius: 0px;
    max-height: 600px;
}

.msg_card_body {
    overflow-y: auto;
    border-radius: 0px;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background-color: #fff;
}

.chat .input-group {
    border: none !important;
}

.chat .input-group input::placeholder {
    opacity: 0.3;
    color: #131b31;
    font-family: "Gilroy - SemiBold";
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: normal;
    text-align: left;
}

.container {
    align-content: center;
}

.type_msg,
.search {
    background-color: transparent !important;
    border: 2px solid #e8e8e8 !important;
    overflow-y: auto;

    color: #131b31 !important;
    font-family: "Gilroy - Medium";
    font-size: 16px;
    font-weight: 500 !important;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: normal;
    text-align: left;
}

.type_msg:focus,
.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
    border: 2px solid #ff2850 !important;
}

.blocked_user_container,
.chat_no_messages_yet {
    margin-top: 20px;
    margin-bottom: auto;
    border-radius: 10px;
    border: 1px solid rgba(255, 40, 80, 0.1);
    background-color: rgba(255, 40, 80, 0.1);
    padding: 10px;
    position: relative;
    color: #ff2850;
}

.chat_no_messages_yet {
    border: 1px solid rgb(0 0 0 / 5%);
    background-color: rgb(0 0 0 / 5%);
    color: #131b31;
}

.attach_btn {
    border-radius: 5px 0 0 5px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn,
.search_btn {
    border-radius: 0 5px 5px 0 !important;
    background-color: #ff2850 !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
}

.contacts li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.chat_active {
    background-color: rgb(254 40 80 / 35%);
}

.user_img {
    width: 50px;
    height: 50px;
    background-color: white;
}

.user_img.group_white_border_first {
    width: 52px;
    height: 52px;
    border: 3px solid white;
}

.user_img.group_white_border,
.chat_more_users_circle {
    width: 52px;
    height: 52px;
    border: 3px solid white;
    position: absolute;
}

.user_img.group_white_border.index_1 {
    left: 28px;
}

.user_img.group_white_border.index_2 {
    left: 56px;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    background-color: white;
}

.chat_more_users_circle {
    width: 52px;
    left: 84px;
    background-color: #ff2850;
    top: 0;

}

.chat_more_users_circle span {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.img_cont {
    position: relative;
}

.img_cont_msg {
    align-self: flex-end;
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 38px;
    right: 0px;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info.users_group {
    margin-left: 68px;
}

.user_info.users_group.more_than_3 {
    margin-left: 94px;
}

.user_info span {
    font-size: 20px;
    color: #131b31;
}

.user_info p {
    font-size: 10px;
    color: #131b31;
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    background-color: transparent;
    padding: 10px;
    position: relative;
    color: #131b31;

    border-bottom-left-radius: 2px;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    background-color: #e8e8e8;
    padding: 10px;
    position: relative;
    color: #131b31;

    border-bottom-right-radius: 2px;
}

.msg_cotainer.border-not-first-message {
    border-top-left-radius: 2px;
}

.msg_cotainer_send.border-not-first-message {
    border-top-right-radius: 2px;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: max-content;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -20px;
    width: max-content;
}

.msg_head {
    position: relative;
    border-bottom: 2px solid #e8e8e8 !important;
}

.action_menu a,
.action_menu a:hover,
.action_menu a:focus {
    color: #131b31 !important;
    display: block;
    width: 100%;
    height: 100%;
}

.action_menu_btn,
.user_action_menu_btn {
    position: absolute;
    right: 25px;
    top: 30px;
    cursor: pointer;
    font-size: 20px;
}

.user_action_menu_btn {
    position: relative;
    top: -34px;
    right: unset;
    /* display: flex; */
}

.action_menu,
.user_action_menu {
    z-index: 6;
    position: absolute;
    background-color: #fff;
    color: #131b31;
    border-radius: 15px;
    top: 50px;
    right: 15px;
    display: none;
    border: 2px solid #e8e8e8;
}

.user_action_menu {
    top: -33px;
    position: relative;
    width: max-content;
    margin-top: 5px;
    right: 80px;
    border: 2px solid #ff2850;
}

.user_action_menu.left {
    right: unset;
    top: -33px;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #e8e8e8;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.action_menu ul li i {
    padding-right: 10px;
    color: #131b31;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    border-bottom: 1px solid #e8e8e8;
}

/* Tooltip container */
.user_info_tooltip {
    display: inline-block;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.user_info_tooltip .tooltiptext {
    visibility: hidden;
    background-color: #ff2850;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: relative;
    width: max-content;
    z-index: 5;
    top: -35px;
    /* right: 20px; */
    float: right;
}

.user_info_tooltip .tooltiptext.left {
    float: unset;
    display: inline-flex;
    top: -35px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.user_info_tooltip:hover .tooltiptext {
    visibility: visible;
}

.chat .colleagues_name {
    margin-top: 0px !important;
}

.colleagues_name.current_chat_user {
    margin-bottom: -16px !important;
    margin-top: -8px !important;
}

/* CHAT - New Message Modal */

#chat_new_message_modal .container.modal-dialog {
    max-width: 500px;
    margin: 200px auto;
}

#chat_new_message_modal .modal-content {
    border-radius: 0.8rem;
}

.select2-container {
    z-index: 9999;
}

#chat_new_message_modal .modal-dialog .mod-close {
    background-color: #ff2850;
}

#chat_new_message_modal .select2-container--default .select2-selection--multiple .select2-selection__rendered li,
#chat_new_message_modal .select2-results__option {
    padding: 10px;
}

#chat_new_message_modal .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: auto;
    font-size: 30px;
}

.chat_body .select2-container--default .select2-results>.select2-results__options {
    max-height: 300px;
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}

/* More medias */

@media (max-width: 1199px) {
    .shop_grid_caption.card-body.user_info .user_round_avatar {
        margin: 0 !important;
    }

    .shop_grid_caption.card-body.user_info h4 {
        margin-top: 20px !important;
    }

    .shop_grid_caption.card-body.user_info .user_options {
        text-align-last: center;
        place-content: center;
    }


}
