/* Shop grid - list contents */

.button-wrap,
.button-wrap-2,
.button-wrap-3 {
    margin-left: 10px !important;
}

.shop_grid.exercises .shop_grid_caption {
    margin: 5px 10px;
    width: 100%;
    padding: 0;
}

.exercise_author,
.exercise_level,
.exercise_average_evaluation,
.exercise_author strong,
.exercise_level strong,
.exercise_average_evaluation strong {
    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: 40px;
    text-align: left;
}

.exercise_author strong,
.exercise_level strong,
.exercise_average_evaluation strong {
    font-family: "Gilroy - Bold";
    font-weight: 700;
}

.exercise_author a.professor_link {
    color: #ff2850;
    font-family: "Gilroy - Bold";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: 40px;
    text-align: left;
}

strong.exercise_complete,
strong.exercise_in_course,
strong.exercise_awaiting,
strong.low_score,
strong.med_score,
strong.high_score {
    color: #ffffff;
    font-family: "Gilroy - Medium";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: 40px;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
}

strong.exercise_complete,
strong.high_score {
    background-color: #00b265;
}

strong.exercise_in_course,
strong.med_score {
    background-color: #ffb801;
}

strong.exercise_awaiting {
    background-color: #2583ed;
}

strong.low_score {
    background-color: #ff2850;
}

.exercise_author {
    margin: 0;
}

.exercise_level {
    float: left;
    margin-right: 20px;
}

.exercise_average_evaluation {
    display: block;
    margin-right: 20px;
    float: left;
}

.not_published_exercise {
    float: right;
    display: block;
    color: red;
    margin-bottom: 0;
    margin-right: 40px;
    font-family: "Gilroy - Bold";
}

.shop_grid_caption .article_buttons.exercise_buttons {
    float: right;
    margin-top: -35px;
}

.shop_grid_caption .article_buttons.exercise_buttons a,
a.remove_button,
a.clone_button {
    color: #ffffff;
    font-family: "Gilroy - Bold";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: normal;
    text-align: center;
    float: right;
    padding: 15px 20px;
    white-space: normal;
}

a.clone_button,
a.clone_button:hover {
    border-radius: 5px;
    border: 2px solid #131b31;
    background-color: #131b31 !important;
    border-color: #131b31 !important;
    color: #ffffff !important;
}

a.remove_button,
a.remove_button:hover {
    border-radius: 5px;
    background-color: #fff !important;
    color: #ff2850 !important;
}

.available_tooltip_text {
    color: #131b31;
    font-family: "Gilroy - Bold";
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: 40px;
    text-align: left;
    float: right;
}

/* Create Exercise */

.tab-content>.tab-pane {
    padding: 0 !important;
}

.customize-tab.tabs_creative ul:not(.select2-selection__rendered):not(.assortment_tables) {
    box-shadow: 0px 0px 15px 15px #4950570d;
    border-radius: 6px;
    background-color: #ffffff;
    width: fit-content;
    place-content: center;
}

.customize-tab.tabs_creative .nav-link.disabled {
    pointer-events: none;
}

.customize-tab.tabs_creative .nav-link,
.customize-tab.tabs_creative .nav-link.active,
.customize-tab.tabs_creative .nav-link.disabled,
.time_countdown,
.time_countdown_white,
.pause_time {
    border-radius: 3px;
    background-color: #fff;
    border: unset !important;
    margin-right: 0;
    padding: .8rem 1rem !important;

    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.33px;
    line-height: normal;
    text-align: left;
}

.customize-tab.tabs_creative .nav-link,
.customize-tab.tabs_creative .nav-link.active,
.customize-tab.tabs_creative .nav-link.disabled {
    line-height: unset;
}

.customize-tab.tabs_creative .nav-link:hover {
    color: #131b31 !important;
}

.customize-tab.tabs_creative .nav-link.active,
.time_countdown,
.time_countdown_white,
.pause_time {
    color: #ffffff !important;
    font-family: "Gilroy - Bold";
    font-weight: 700;
    background-color: #ff2850;
}

.time_countdown_white {
    color: #ff2850 !important;
    background-color: #fff !important;
    border: 2px solid #ff2850 !important;
}

.red-skin a.pause_time:hover {
    color: #fff !important;
}

.customize-tab.tabs_creative .tab-content {
    margin-top: 50px;
}

.card-body {
    box-shadow: 0 13px 26px 13px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    background-color: #ffffff;
    display: flow-root;
}

.card-body label.label_title {
    color: #131b31;
    font-family: "Gilroy - Bold";
    font-size: 23px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.37px;
    line-height: 30px;
    text-align: left;
    margin-top: 5px;
}

.tab-content .checkbox-custom-label {
    display: flow-root;
}

.tab-content .checkbox-custom+.checkbox-custom-label:before,
.create_question .checkbox-custom+.checkbox-custom-label:before {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

.create_question .checkbox-custom+.checkbox-custom-label[class*="multiple_choice_correct_answer_"]:before,
.create_question .checkbox-custom+.checkbox-custom-label[class*="multiple_choice_intruder_intruder_answer_"]:before {
    margin: 16px 20px 16px 0;
}

.checkbox-custom+.checkbox-custom-label[class*="multiple_choice_correct_answer_"]:before,
.checkbox-custom+.checkbox-custom-label[class*="multiple_choice_intruder_intruder_answer_"]:before {
    width: 25px;
    height: 25px;
}

.checkbox-custom:checked+.checkbox-custom-label[class*="multiple_choice_correct_answer_"]:before,
.checkbox-custom:checked+.checkbox-custom-label[class*="multiple_choice_intruder_intruder_answer_"]:before {
    background-size: 75% !important;
}


.tab-content .checkbox-custom+.checkbox-custom-label.publish_exam-label:before {
    margin-top: -2px;
}

.tab-content .checkbox-custom:disabled+.checkbox-custom-label.publish_exam-label:before {
    background-color: #e8e8e8 !important;
    pointer-events: none;
    cursor: not-allowed;
}

.nav-tabs .nav-item {
    margin-bottom: unset !important;
}

.audio_transcription_more_options {
    float: right;
    margin-top: 15px;
}

.audio_transcription_more_options label.label_checkbox {
    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: 20px;
    text-align: left;
}

#create_exercise_tabs_content .structure_title {
    color: #131b31;
    font-family: "Gilroy - Bold";
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.48px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.page-title .wrap .sub_title {
    opacity: 0.5;
    color: #131b31;
    font-family: "Gilroy - Bold";
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.27px;
    line-height: 40px;
    text-align: left;
}


@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(-20px);
    }
}

button.show_video,
button.hide_video {
    cursor: pointer;
    position: fixed;
    padding: 10px 5px !important;
    bottom: 265px;
    right: 0;
    z-index: 999;
}

.stuck {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: translateY(100%);
    width: 360px;
    height: 245px;
    animation: fadeInLeft .25s ease forwards;
    z-index: 999;
}

/* .customize-tab.tabs_creative ul#corr_exp_tabs,
.customize-tab.tabs_creative ul#fill_split_tabs,
.customize-tab.tabs_creative ul#perform_listening_tabs,
.customize-tab.tabs_creative ul#perform_listening_shop_tabs {
    border: 2px solid #ff2850 !important;
    border-radius: 5px;
    box-shadow: unset;
} */

.customize-tab.tabs_creative ul.with-border {
    border: 2px solid #ff2850 !important;
    border-radius: 5px;
    box-shadow: unset;
}

.small_inline_selects2 .select2.select2-container.select2-container--default {
    min-width: 160px !important;
    width: 160px !important;
    margin-left: 10px !important;
}

#fill_options_tabs_content .fill_split_info_text {
    opacity: 0.5;
    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.21px;
    line-height: 16px;
    text-align: left;
}

.drag_and_drop_image,
.drag_and_drop_hole,
.drag_and_drop_item {
    border-radius: 6px;
    border: 2px solid #e6ebf1;
    background-color: #ffffff;

    color: #131b31;
    font-family: "Gilroy - SemiBold";
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: 25px;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    max-height: unset;
    position: relative;
}

.drag_and_drop_image video {
    object-fit: fill;
    width: -webkit-fill-available;
    border-radius: 6px;
    height: 250px;
}

.drag_and_drop_item {
    border: none;
}

.drag_and_drop_image {
    max-height: 250px;
}

.drag_and_drop_image img {
    max-height: 245px;
}

.drag_and_drop_image img,
.drag_and_drop_hole,
.drag_and_drop_item {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: contain;
}

.drag_and_drop_hole,
.drag_and_drop_item {
    min-height: 75px;
    height: auto;
}

.drag_and_drop_item {
    padding-right: 20px !important;
    z-index: 11;
    cursor: all-scroll;
    min-height: 71px;
}

.drag_and_drop_item:after {
    content: url('../../backoffice_assets/icons/Drag_black.svg');
    position: absolute;
    top: -2px;
    right: 5px;
}

/* drag_and_drop_item p-2 draggable dragaware draggable_clone */
/* drag_and_drop_item p-2 draggable dragaware draggable_clone */
/* 255 40 80 */

.draggable_clone,
.ui-draggable-dragging {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #e6ebf1;
    z-index: 999;
}

.drag_and_drop_hole:not(.origin_hole) .drag_and_drop_item {
    border-radius: 5px;
    border: 2px solid #ff2850;
    background-color: #ff2850;
    color: #ffffff;
}

.drag_and_drop_hole:not(.origin_hole) .drag_and_drop_item.draggable_clone,
.drag_and_drop_hole:not(.origin_hole) .drag_and_drop_item.ui-draggable-dragging {
    background-color: rgba(255, 40, 80, 0.8);
    z-index: 12;
}

.word_item,
.word_hole {
    min-height: 54px;
    height: auto;
}

.word_item {
    padding-right: 20px !important;
    z-index: 11;
    cursor: all-scroll;
    min-height: 50px;
}

.fill_hole.word_hole {
    max-width: 200px;
    min-width: 150px;
    width: auto;
    display: inline-flex;
    vertical-align: middle;
    margin: 5px 5px 5px 5px !important;
}

.item_dragged {
    border-radius: 5px;
    border: 2px solid #ff2850;
    background-color: #ff2850;
    color: #ffffff;
}

.drag_and_drop_item.item_dragged:after {
    content: url('../../backoffice_assets/icons/Drag.svg');
}

/* RIGHT SIDE INFO BUTTON */

.collapse {
    display: none;
}

.custom_accordion.info_accordion {
    width: fit-content;
    position: fixed;
    z-index: 999;
    right: 0;
    top: 40vh;
    box-shadow: 0px 0px 20px 20px rgb(0 0 0 / 8%);
    padding: 14px 10px !important;
    text-align-last: center;
}

.custom_accordion.info_accordion a {
    padding: 7px 10px !important;
}

.custom_accordion.info_accordion a.collapsed {
    padding: 7px !important;
}

.custom_accordion.info_accordion .info_help,
.custom_accordion.info_accordion .info_statement {
    display: grid;
    justify-items: center;
    width: fit-content;
    margin: auto;

    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.16px;
    line-height: normal;
    text-align: left;
}

.quiz_level_label {
    margin-top: 15px;
    color: #131b31;
    font-family: "Gilroy - Bold";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}

.quiz_question_div {
    border-radius: 5px;
    border: 2px solid #e6ebf1;
}

.quiz_question_div .question,
.quiz_question_div .question strong {
    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.35px;
    line-height: 30px;
    text-align: left;
}

.quiz_question_div .question strong {
    font-family: "Gilroy - Bold";
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

/* CUSTOM QUIZ RADIOS */

/* Custom Radio Button */

.rb {
    padding: 12px 0;
    text-align: center;
    background: rgba(255, 255, 255, .03);
    border-radius: .3em;
}

.rb-tab {
    display: inline-grid;
    position: relative;
    width: 14%;
}

.rb-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .5em;

    color: #ff224b;
    font-family: "Gilroy - Bold";
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.33px;
    line-height: normal;
    text-align: left;
}

.rb-spot {
    position: relative;
    width: 36px;
    height: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 1px solid #ff2850;
    border-radius: 7px;
    cursor: pointer;
    transition: ease .5s;
}

.rb-tab-active .rb-spot {
    background-color: #ff2850;
    border-radius: 7px;
}

.rb-tab-active .rb-spot .rb-txt {
    color: #fff;
}

/* See in Englis switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
    border: 2px solid #e6ebf1;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0px;
    bottom: 0px;
    background-color: #e6ebf1;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1px;
    border: 2px solid #e6ebf1;
}

input:checked+.slider {
    background-color: #ff2850;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.anxiety_levels {
    display: flow-root;
}

.anxiety_levels .rb-tab {
    width: unset;
}


/* Upload Medias in Exercices */

.associate_media_preview {
    pointer-events: none;
    float: none !important;
    padding: 3px 3px !important;
    white-space: nowrap !important;
    min-width: 187px !important;
}

.associate_media_preview .associate_media_thumbnail_img {
    width: 46px;
    height: 46px;
    border-radius: 5px;
}

.associate_media_preview .associate_media_thumbnail_title {
    display: inline-block;
    width: 85px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.associate_media_preview .associate_media_thumbnail_remove {
    pointer-events: all;
    margin: 0 10px 2px 10px;
}

.associate_media_preview [class^="associate_media_thumbnail_remove_"] {
    pointer-events: all;
    margin: 0 10px 2px 10px;
}

.cke_button_icon.cke_button__\<\%.\%\>_icon {
    background-image: url('/assets/backoffice_assets/icons/tag_64.png');
    background-size: 16px;
}

.associate_media_preview.no-preview {
    padding: 16px 20px !important;
}

.associate_media_preview.no-preview .associate_media_thumbnail_title {
    width: 120px;
}

.possible_words_change_font .select2-container--default .select2-results>.select2-results__options,
.possible_words_change_font .select2-container--default .select2-selection--multiple .select2-selection__rendered li,
#form-vowels .select2-container .select2-selection--single .select2-selection__rendered,
.select2-results__option[id^="select2-select_word_"] {
    font-family: sans-serif !important;
    letter-spacing: 0.78px;
}

/* #form-vowels .select2-container .select2-selection--single .select2-selection__rendered {
    font-family: monospace;
}

.select2-results__option[id^="select2-select_word_"] {
    font-family: monospace;
} */

div[id^="cke_fill_text_word_"] {
    width: -webkit-fill-available !important;
}

[id^="selects_row_text_words_"] .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice:first-child {
    background-color: #28a745 !important;
    border: 1px solid #28a745 !important;
}

.assortment_tables {
    /* float: left; */
    /* border-collapse: separate;
    border-spacing: 0 10px; */
    width: 100%;
    text-align: left;
}

.sortable_clone {
    width: 97.5%;
}

.sortable_placeholder {
    border: none !important;
}

.assortment_tables li:not(.dragging) {
    padding: 12px 15px;
    cursor: all-scroll;
    display: flex !important;
}

/* .assortment_tables img,
.true_or_false_table img {
    margin-right: 15px;
} */

.assortment_tables span,
.true_or_false_table p {
    color: #131b31;
    font-family: "Gilroy - Medium";
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.37px;
    line-height: 30px;
    text-align: left;
    border-radius: 5px;
    border: 2px solid #e6ebf1;
    padding: 12px 15px;
    width: 100%;
}

.assortment_tables img.assort_image,
.true_or_false_table .true_or_false_image {
    min-width: 100px;
    max-width: 100px;
    min-height: 75px;
    max-height: 75px;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px solid #e6ebf1;
}

.true_or_false_table {
    display: flex;
}

.true_or_false_table>div {
    display: inline-flex;
    /* padding: 12px 15px; */
    /* cursor: all-scroll; */
    /* display: flex !important; */
}

.true_or_false_table p {
    min-height: 75px;
    max-height: 75px;
    width: 230%;
}

/* 
    PAUSE MODAL
*/

#pause_modal .modal-open .modal {
    overflow-y: hidden;
}

#pause_modal .modal-dialog {
    padding: 0;
    overflow: hidden;
    margin: 200px auto;
}

#pause_modal .modal-content {
    flex-flow: nowrap;
    width: 50%;
    margin: auto;
    box-shadow: 0 13px 26px 13px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    background-color: #ffffff;
}

#pause_modal .modal-body {
    width: 50%;
    position: relative;
    padding-right: 50px;
}


/* 
    Exame Review by Student
*/

.checkbox-custom.correct_answer_checkbox_input,
.checkbox-custom.wrong_answer_checkbox_input,
.checkbox-custom-label.wrong_answer_checkbox_label,
.checkbox-custom-label.correct_answer_checkbox_label {
    font-family: "Gilroy - SemiBold";
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: 25px;
    text-align: left;
    /* margin: 20px 0 0 0 !important; */
    pointer-events: none;
}

.checkbox-custom.correct_answer_checkbox_input:checked+.checkbox-custom-label.correct_answer_checkbox_input:before,
.checkbox-custom.wrong_answer_checkbox_input:checked+.checkbox-custom-label.wrong_answer_checkbox_input:before {
    width: 30px !important;
    height: 30px !important;
}

.checkbox-custom.correct_answer_checkbox_input:checked+.checkbox-custom-label.correct_answer_checkbox_label:before {
    background: #00B265 url("/assets/backoffice_assets/icons/Check.svg") no-repeat 50% 50% !important;
    pointer-events: none;
    background-size: 60% !important;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px !important;
    height: 30px !important;
}

.checkbox-custom.wrong_answer_checkbox_input:checked+.checkbox-custom-label.wrong_answer_checkbox_label:before {
    background: #ff2850 url("/assets/backoffice_assets/icons/Cross_white.svg") no-repeat 50% 50% !important;
    pointer-events: none;
    background-size: 50% !important;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px !important;
    height: 30px !important;
}

.exercise_question_description,
.exercise_question_description * {
    color: #131b31;
    font-family: "Gilroy - Bold";
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.29px;
    line-height: 25px;
    text-align: left;
    word-break: break-word;
}

.exercise_question_description {
    margin: 20px 0 0 0;
}

.exercise_question_description * {
    margin: 0;
}

.exercise_question_description * a {
    color: #ff2850;
}

.exercise_question_description.question_info_text_type,
.exercise_question_description.question_info_text_type * {
    font-style: revert !important;
    font-family: "Gilroy - Medium";
}


.ui-state-highlight {
    background-color: #ff2850;
    margin: 12px 15px 12px 42px;
    opacity: 0.3;
    border-radius: 5px;
}

.ui-sortable-handle.ui-sortable-helper img {
    width: 1%;
}

.quotation_label,
.quotation_label strong {
    font-size: 22px !important;
}

.total_quotation_score {
    color: #2583ed !important;
}

.low_quotation_score {
    color: #ff2850 !important;
}

.med_quotation_score {
    color: #ffb801 !important;
}

.high_quotation_score {
    color: #00b265 !important;
}
