/* MEDIAS */

@media (min-width: 1280px) {
    .container.modal-dialog {
        max-width: 1050px;
    }


}

@media (max-width: 1280px) {
    /* .about_section {
        top: -96px;
    } */

    .container.modal-dialog {
        max-width: 980px;
    }

    .scene3_svg {
        margin-right: -60px;
    }
}

@media (max-width: 1199px) {
    .shop_grid {
        flex-wrap: wrap;
    }

    .shop_grid_caption {
        margin: 10px;
    }

    .shop_grid_caption .article_buttons {
        inline-size: -webkit-fill-available;
        /* margin-top: 100px; */
    }

    .shop_grid_caption .exercise_buttons {
        inline-size: unset;
    }

    .header.homepage .container {
        max-width: 1000px;
    }

    .header:not(.homepage) .container {
        max-width: 980px;
    }

    .nav-menu>li:first-child {
        margin-left: 0;
    }

    .scene3_svg {
        margin-right: -180px;
        width: 65%;
    }

    .container.modal-dialog {
        max-width: 945px;
    }

    /* .about_section {
        top: -78px;
    } */

    .about_section .title {
        padding-top: 140px;
    }

    .scene1_svg {
        width: 66%;
        margin-left: -60px;
        margin-right: -131px;
    }

    .how_it_works_section {
        padding-bottom: 60px;
    }

    .how_it_works_section .hero-caption.small_wd {
        margin: 0 !important;
    }

    .scene2_svg {
        width: 100%;
        max-width: 115%;
        margin-top: 20px;
    }
}

@media (max-width: 991px) {

    .hero_banner {
        top: 0;
        margin-top: 0;
    }

    .classes_accordion {
        margin: auto;
    }

    .show-23 {
        display: block !important;
        position: relative;
        float: right;
    }

    .hide-23 {
        display: none !important;
    }

    .page-title.articles .show_favorites {
        display: none;
    }

    .page-title.articles .order_by {
        display: none;
    }

    .nav-menu.nav-menu-social>li.login_click a {
        padding: 10px 15px;
    }

    .scene3_svg {
        margin-right: -300px;
        width: 80%
    }

    .container.modal-dialog {
        max-width: 845px;
    }

    .about_section {
        top: 0;
    }

    .about_section .title {
        padding-top: 77px;
    }

    /* .how_it_works_section {
        padding-bottom: 60px;
    } */

    .hero_banner .container {
        padding-top: 25px;
    }

    .scene1_svg {
        width: 65%;
        max-width: 210%;
        margin-left: -80px;
    }

    .about_section .container {
        width: 100%;
    }

    .scene2_svg {
        width: 100%;
        max-width: 120%;
        margin-top: 100px;
    }
}

@media (max-width: 860px) {
    .scene3_svg {
        margin-right: -350px;
    }
}

@media (max-width: 767px) {

    .nav-menu.nav-menu-social>li.login_click {
        top: 20px;
    }

    .classes_accordion {
        margin-left: auto !important;
        margin-right: unset;
    }

    .drag_and_drop_image img {
        width: auto;
    }

    .shop_grid_caption.user_info .form-group {
        display: grid !important;
        justify-items: center;
    }

    .quiz_question_div .question,
    .quiz_question_div .question strong {
        text-align: center;
    }

    .modal-body {
        width: 100%;
        position: absolute;
        margin-left: 0;
    }

    #chat_new_message_modal .modal-body,
    #new_create_class_modal .modal-body,
    #new_insert_student_modal .modal-body {
        position: relative;
    }

    #login .scene3_svg {
        margin-top: 550px;
        margin-left: 50px;
    }

    .scene3_svg {
        margin-top: 760px;
        margin-left: 50px;
    }

    .scene1_svg {
        width: 100%;
        max-width: 160%;
        margin-left: 0;
    }

    .scene2_svg {
        width: 80%;
        margin-top: 0;
        margin-left: 50px;
        margin-bottom: 40px;
    }

    .how_it_works_section .title {
        margin-bottom: 50px;
    }

    .hero_banner .container {
        flex-wrap: wrap;
    }

    .desktop_icon_div {
        margin-left: 3px;
    }
}

@media (max-width: 575px) {
    .anxiety_levels .rb-tab {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .hero_banner .container {
        padding-top: 0;
    }

    .scene1_svg,
    .scene2_svg {
        width: 100%;
        margin-left: 0;
    }

    .scene3_svg {
        margin-top: 750px;
    }
}

/* Articles sidebar */

@media (max-width: 1023px) {
    .show-23 {
        display: none;
    }

    .hide-23 {
        display: block;
    }
}

@media (min-width: 992px) {
    .show-23 {
        display: none;
    }
}
